
daitda/ios/build/XCBuildData/114196514de953efe2fa55ce4ff287b0-desc.xcbuild
daitda/ios/build/XCBuildData/5894779d2a9e489fe866d56d83ffbe4c-desc.xcbuild
.DS_Store
daitda/ios/build/XCBuildData/114196514de953efe2fa55ce4ff287b0-manifest.xcbuild
daitda/ios/Runner.xcodeproj/project.pbxproj
daitda/ios/build/XCBuildData/BuildDescriptionCacheIndex-4999a913f3e8a7c51730040a2c542e54
daitda/ios/build/XCBuildData/build.db
daitda/ios/build/XCBuildData/b502d730b6d54f2b035a7861165a8f73-manifest.xcbuild
daitda/ios/build/XCBuildData/b502d730b6d54f2b035a7861165a8f73-desc.xcbuild
daitda/ios/build/XCBuildData/5894779d2a9e489fe866d56d83ffbe4c-manifest.xcbuild
daitda/ios/Runner.xcodeproj/project.pbxproj
daitda/ios/Runner.xcodeproj/project.pbxproj
daitda/ios/Runner.xcodeproj/project.pbxproj
*.pbxproj
daitda/ios/build/XCBuildData/563efc95ccb98c50682379027a123fde-desc.xcbuild
*.xcbuild
*.lock
daitda/pubspec.lock
*.lock
daitda/pubspec.lock
daitda/ios/Podfile
*.xml
*.lock
